.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  max-width: 60%;
  padding-top: 1rem;
  margin: 0 auto 1rem;
}

.collapsed {
  display: none;
}

.expanded {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 8px;
  width: 90vw;
  // height: 95vh;
  align-items: center;
  background-color: aqua;
  padding: 10px;
  flex: 1 1 200px;
  gap: 5px;

  image-and-title {
    display: flex;
    flex-direction: column;
  }

  text-and-buttons {
    display: flex;
    flex-direction: column;
  }

  info-buttons {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 0;
    text-align: left;
    font-size: 0.85em;
  }

  // Can we get a cool space font from Google?
  img {
    width: 100%;
  }

  button {
    width: 100%;
    background-color: white;
    border-width: 0;
    outline: solid 1px black;
    padding: 5px;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
      background-color: orangered;
      outline: solid 2px orange;
    }
  }
}

.rover-selector {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rover {
  background-color: orangered;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 32%;
  box-sizing: border-box;


  img {
    object-fit: cover;
    object-position: center;
    flex-grow: 1;
    height: 20px;
  }
}

h3 {
  margin: 0.5rem 0 0 0;
}

.info-card-title {
  margin: 0;
}

@media only screen and (max-width: 700px) {
  .rover-selector {
    height: 100%;
  }
}

@media only screen and (min-width: 700px) {
  .expanded {
    top: 266px;
    flex-direction: row;
    flex-wrap: wrap;

    info-buttons {
      display: flex;
      flex-direction: row;
      width: 50%;
    }

    img {
      height: 250px;
    }
  }
}