@import "../../constants.scss";

h2 {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}

.userDetails {
    padding:150px;
    z-index: 3;
    top: 20px;
    left: 20px;
    text-align: left;
    background:$secondary-light;
    color:Black;
}

.submit-button {
    background-color: $primary-light;
    box-shadow: 0 15px 20px ;
  }