.image-container {
    display: flex;
    flex-direction: column;  
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.space-image {
    width: 150px;
    height: 150px;
    object-fit: cover; 
}
.large-picture {
    padding: 5%;
}