$background-colour: #ffffff;
$background-light-accent: #bbbbbb;
$background-dark-accent: #999999;

$text-colour: #000000;

$dark-blue: #28536b;
$grey-blue: #8ba6a9;
$light-blue: #a7cecb;
$dark-orange: #cf5c36;
$light-orange: #f1a66a;
