// *{
//     border: 2px solid red;
// }

main{
   
    position:relative;
}

.map img {
    padding: 5%;
    width: 90%;
    height: auto;
}

#Curiosity-day-1{
    position: absolute;
    top: 8%;
    left: 55%;
    width: 200px;
}
