.funfact {
    display: flex;
    flex-direction: row;
    width:300px;
}

.funfact__prompt {
    width: 250px;
}

.funfact__detail {
    width:300px;
}

.funfact__prompt--reveal {
    border: none;
    background-color: transparent;
}