.funfact {
    display: flex;
    flex-direction: row;
    width:300px;

}

.funfact__prompt {
    font-size:18px;
    width: 250px;
    margin-top: 0;
    margin-bottom: 0;
    transition: 0.3s;
}

.funfact__detail {
    width:300px;
    margin-top: 0;
    margin-bottom: 20px;
}

.funfact__button {
    width: 40px;
    text-align: center;
    border: none;
    background-color: transparent;
    transition: 0.3s;
}

.funfact__button--revealed {
    border: none;
    background-color: transparent;
    transform: rotate(180deg);
    transition: 0.3s;
}

// * {
//     border: solid 1px black;
// }